header
{
   color : white;
   padding-bottom : 20px;
    text-align : center;
    background-color: white;
     position:fixed;
     width: 100%;
     position:fixed;
	 height:120px;
	z-index: 2;
	top : 0;
}


footer
{
	
	color: linen;

	background-color: #577284;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 141px;
	margin-bottom: -25px;
	padding-bottom: 1.5%;
	z-index: 2;


}

footer p
{
	position: absolute;
	bottom: 25%;
	padding-left: 35%;
}


header h1
{
	margin : 0;
    font-weight : lighter;
    background-color: #577284;
    padding: 10px;
	height:70px;
	text-align: center;


}

header a 
{
	color : #577284;
    text-decoration : none;
}

header figure
{
	top: 0px;
	right: 0px;
}

body
{
	margin: 0;
	background: lightgrey;
	font-family : Arial, sans-serif;
	min-height:  100%;
	max-width: 100%;
	padding: 0;
	z-index: 1;
	position: relative;
	width: 100%;

	
}

nav ul li
{
	display: inline;
	padding-left: 2%;
	height:50px;
}
header a:hover
{
	text-decoration: underline;
}



nav ul
{
	list-style-type: none;
}


#logoUniv 
{
	
	position:absolute;
	bottom: -5.25%;
	right:-2.6%;
	
	

}

#logoIUT
{
	position:absolute;
	bottom: -5.25%;
	left:-2.6%;
	
}
#photoCV
{
	display: table;
	position: relative;
	right: 0%;
	margin:auto;
	padding-top: 2.5%;
}



#photoCPOA img
{
	width: 500px;
}



#photoPHP,#photoCPOA,#photoBdd,#photoIHM,#photoAssembleur,
#photoWeb,#IUT
{
	position:relative;
	text-align: center;
	
}

#photoMail
{
	position:absolute;
	bottom: 15%;
	left: 8%;	
}
#photoLinkedin
{
	position:absolute;
	bottom: -35%;
	left: 9.5%;	
}

#photoCV figcaption 
{
	caption-side: top;
	display: table-caption;
	text-align: center;
	
}



article img
{
	width: 720px;
}

article figure
{
	text-align: center;
}

#photoCV img
{
	height: 350px;
	width: 275px;
}

#IUT img
{
	max-height: 300px;
}

#photoWeb img,#photoAssembleur img,#photoIHM img,#photoBdd img,#photoCPOA img,#photoPHP img,#IUT img
{
	height: 375px;

}




footer img
{
	width: 120px;
	height: 141px;
}


section
{
	background : #9F9C99;
	padding : 0;
	max-width : 1100px;
	margin : auto;
	
}

 section article
{
	background-color: rgba(255,255,255,0.3);
	margin : 1px;
	padding :  10px 2% 10px 2%;
	text-align : justify;
	color:#577284;
	padding-top: 130px;
	min-height: 81vh;
	
}

#arthuit
{
	min-height: 100vh;
}

section article h2
{
	text-align: center;
}

article a 
{
	text-decoration: none;
}

table
{
	border-collapse: collapse;
}

td,th
{
	border : 1px solid black;
	

}
td
{
	font-size: 0.85em;
}


